# PyCharm
.idea/
# Python
__pycache__/
*.pyc
.env
# Data
data/raw/
data/interim/
data/processed/
data/production/
scripts/debug/
data/analysis_results

.venv/
venv/

# Streamlit
.streamlit/secrets.toml